@import "tailwindcss";
@import "../components/Layout/PageTransition/styles.scss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/my-font/PPMori-SemiBold.woff2') format('woff2'), 
       url('/fonts/my-font/PPMori-SemiBold.woff') format('woff');

  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont2';
  src: url('/fonts/my-font/bootzy-tm-regular.woff2') format('woff2'), 
       url('/fonts/my-font/bootzy-tm-regular.woff') format('woff');
  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'MyFont2', sans-serif;
  overscroll-behavior-x: none; /* Safari a veces mete rebotes */
  -webkit-text-size-adjust: 100%; /* evita zoom raro en iOS */
  max-width: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

.font-myfont2 {
  font-family: 'MyFont2', sans-serif;
}


body {
  overflow-x: hidden;
  
}

/* .hero-text {
  -webkit-text-stroke: 3px #81d381;
} */

.line {
  transform: translateY(100%);
  will-change: transform;
}

.line-line {
  display: block;
  overflow: hidden;
  padding-left: 0.04em;
  /* line-height: 0.80; */
  /* padding-bottom: 0.20em; */
}

/* Fix exclusivo para TeamMobile2 */
.team-mobile-fix .line-line {
  margin-bottom: 0.05em;
  line-height:normal;
}

.line-line2 {
  display: inline-block;
  overflow: visible;
  line-height: 1.00;
  padding-left: 0.04em;
}

.test-info h1, 
.test-info p {
  will-change: transform, opacity;
}



/* .mask {
  will-change: clip-path, transform;
  backface-visibility: hidden;
} */

.mask {
  will-change: clip-path, opacity, transform;
  contain: layout paint size style;
  backface-visibility: hidden;
}


.swiper-slide-prev {
  opacity: 0 !important;
  pointer-events: none;
  transform: translateX(-100%) scale(0.8) !important;
}


/* Almodovar Quote */
.reveal-img {
  will-change: clip-path, transform, opacity;
  transform: translateZ(0) scale(1.0001);
  backface-visibility: hidden;
  image-rendering: auto;
}

/* Text Animation */
.block-line-wrapper {
  position: relative;
  width: 100%;        /* en vez de max-content */
  display: block;
  overflow: hidden;   /* importante para que el block-revealer no se salga */
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}










