@import "tailwindcss";
@import "../components/Layout/PageTransition/styles.scss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/my-font/PPMori-SemiBold.woff2') format('woff2'),
       url('/fonts/my-font/PPMori-SemiBold.woff') format('woff');
  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'MyFont', sans-serif;
}

body {
  overflow-x: hidden;
}

/* .hero-text {
  -webkit-text-stroke: 3px #81d381;
} */

.line {
  transform: translateY(100%);
  will-change: transform;
}

.line-line {
  display: block;
  overflow: hidden;
  line-height: 0.80;
  padding-bottom: 0.20em;
}

.line-line2 {
  display: block;
  overflow: visible;
  line-height: 1.06;
}


.swiper-slide-prev {
  opacity: 0 !important;
  pointer-events: none;
  transform: translateX(-100%) scale(0.8) !important;
}







